/* general */
body {
    width: 75%;
   margin: 0px auto; 
   font-family: 'Poppins', sans-serif;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
}
footer {
    padding-bottom:10px;
}
footer a, #links a{
    color: #337ab7;
}
 #links{ 
     margin-left: 2.5%;
}

/* home */
.jumbotron h3{
    line-height:180%;
}
#searchBtn{
    background:#337ab7;
    border-color: #2e6da4;
}

/* survey */
#matchImg {
	overflow: hidden;
	width: 400px;
}
#questionNum{
    font-weight: bold;
}
#submitBtn {
    padding: 10px 16px;
    line-height: 1.3333333;
    border-radius: 6px;
    background:#337ab7;
    border-color: #2e6da4;
    display: block;
    width: 100%;
}
